aiohttp
aiosignal
anyio
async-timeout
attrs
certifi
charset-normalizer
click
contourpy
cycler
dash
dash-core-components
dash-html-components
dash-table
decorator
exceptiongroup
fastapi
Flask
fonttools
frozenlist
greenlet
h11
httpcore
httpx
idna
imageio
imageio-ffmpeg
itsdangerous
Jinja2
joblib
kiwisolver
langdetect
MarkupSafe
matplotlib
moviepy
multidict
nltk
numpy
openai
packaging
pandas
Pillow
plotly
proglog
propcache
pydantic
pydub
PyJWT
pypandoc
pyparsing
python-dateutil
python-dotenv
python-telegram-bot
pytz
regex
requests
scikit-learn
scipy
six
sniffio
SQLAlchemy
starlette
stripe
tenacity
textblob
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
yarl
